@media (max-width: 1501px) {
  .piano {
    min-height: 1000px;
  }
}

@media (max-width: 600px) {
  .section-title-name {
    font-size: 40px;
  }
  .about {
  }
  .piano {
    min-height: 1300px;
  }
  .h2-title {
    font-size: 20px;
  }
  .about-me {
    padding: 20px;
  }
  .par-text {
    font-size: 15px;
  }
  .header-item {
    padding: 5px;
  }

  .piano-project-about {
    padding: 0px;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
  }
  .about-title {
    width: 100%;
  }

  .about {
    height: 1000px;
  }
  .about-title {
    height: 35%;
  }
  .section-title-name {
    padding: 0px;
    padding-top: 25%;
    display: flex;
    justify-content: center;
  }
  .about-text {
    width: 100%;
    height: 65%;
  }
  .color-grey {
    background-color: rgba(255, 166, 0, 0.61);
  }
  .section-text {
    background-color: white;
  }
  .color-text-orange {
    color: white;
  }
  .video-res {
    width: 600px;
  }
  .socials-footer {
    padding-left: 20%;
    display: flex;
    flex-wrap: wrap;
  }
  .html {
    max-width: 1245px;
  }
  ul {
    padding-left: 10px;
  }
}
@media (max-width: 1000px) {
  .section {
    display: block;
    padding: 20px;
  }
  .menu-btn {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #fabc3d;
    border-radius: 50%;
  }
  .burger-line,
  .burger-line::before,
  .burger-line::after {
    position: absolute;
    top: 40px;
    width: 50px;
    height: 5px;
    margin-left: 10px;
    margin-top: 29px;
    background-color: black;
  }

  .burger-line::before,
  .burger-line::after {
    content: "";
    transition: 0.5s;
  }
  .burger-line::before {
    transform: translate(-10px, -85px);
  }
  .burger-line::after {
    transform: translate(-10px, -53px);
  }
  .header-nav {
    display: none;
  }
  .header-active {
    display: block;
  }
  .menu-btn:hover {
    background-color: white;
  }
  .btn-active span {
    height: 0px;
  }
  .btn-active span:before {
    top: -28px;
    left: -10px;
    transform: rotate(-45deg);
  }
  .btn-active span:after {
    top: -28px;
    left: -10px;
    transform: rotate(45deg);
  }
}
